@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

body{
    margin: 0;
    margin-right: 5%;
    background-color: #212121;
}

.main{
    display: grid;
    grid-template-columns: 80% auto;
    grid-template-rows: auto 5% 65% auto;
}

#logo{
    grid-column: 1/3;
    grid-row: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
    padding-top: 2%;
}

#logo h1{
    font-size: 3em;
    margin: 0 1% 0 0;
    font-family: 'Krona One', sans-serif;    
    font-style: italic;
    color: #E40000;
}

.logo{
    grid-column: 1/3;
    grid-row: 1;
    width: 20%;
    display: block;
}

.searchbar{
    grid-column: 1/3;
    grid-row: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar input{
    width: 50%;
    height: 2.5rem;
    padding: 0;
    margin-right: 5%;
    text-align: center;
    background-color: #212121;
    font-size: 1.2rem;
    border: 2px solid #E40000;
    border-radius: 10px;
    outline: none;
    color: white;
}

.btn{
    width: 3em;
    height: 2.5em;
    border-radius: 10px;
    background-color: #E40000;
    border: none;
    font-family: 'Big Shoulders Display', cursive;
    color: black;
    font-size: 1.2em;
    outline: none;
    cursor: pointer;
    transition: all 0.8s;
}

.btn:hover{
    transform: scale(1.3);
}


.videocurrent{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
}

.videocurrent iframe{
    width: 90%;
    height: 90%;
    min-height: 400px;
    border: 2px solid red ;
    border-radius: 10px;
}

.videolist{
    list-style-type: none;
}

.rightside{
    width: 100%;
    display: grid;
    grid-column: 2;
    grid-row: 3/5;
    grid-template-rows: 10% auto;
}

.synopsis{
    grid-row: 4;
    padding-right: 5%;
    padding-left: 5%;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2em;
    color: white;
}

.rightside h1{
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.5em;
    text-align: center;
    color: white;
}

.videolist{
    grid-row: 2;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.videolistitem{
    width: fit-content;
    padding: 5%;
    margin-bottom: 5%;
    color:white;
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.5em;
    text-align: end;
    border: 2px solid red;
    border-radius: 5px;
    background-color: #212121;
    cursor: pointer;
    transition: all 1s;
}

.videolistitem:hover{
    transform: translate(-5%);
}

.videoitem{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.videoiframe{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}

.videoitem img{
    width: 30%;
    margin-right: 5%;
    border-radius: 5px;
}

.videoiframe iframe{
    width: fit-content;
    align-self: center;
    border-radius: 5px;
    border: 1px solid white;
}

.videoiframe p:hover{
    text-decoration: underline;
    cursor: pointer;
}

.novideo{
    font-family: 'Big Shoulders Display', cursive;
    color: white;
    margin: 0;
    padding-left: 5%;
    width: fit-content;
    height: fit-content;
    grid-row: 3;
    grid-column: 1;
}

@media all and (max-width: 960px){
    body{
        margin: 0;
    }

    #logo{
        margin-bottom: 10%;
        padding-top: 5%;
    }

    #logo h1{
        font-size: 1em;
    }

    .logo{
        width: 40%;
    }

    .main{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .searchbar{
        width: 100%;
    }
    
    .videocurrent{
        width: 90%;
        height: auto;
        margin-bottom: 5%;
    }
    
    .rightside{
        margin-top: 5%;
        width: 50%;
    }

    .rightside h1{
        font-size: 3em;
        margin-top: 0;
    }

    .videolist{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .videoitem{
        font-size: 1.2em;
    }

    .videocurrent iframe{
        width: 100%;
        min-height: 400px;
    }

    .synopsis{
        text-align: center;
        font-size: 1em;
    }

    .videolistitem:hover{
        transform: translate(0);
    }
}